@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-sarif;
  ----breakpoint-3xl: 1920px;
  ----color-primary: #ff9324;
}
@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: #fcfbfc;
  }
}

/* Icon button size & spacing */
.w-md-editor-toolbar li > button {
  height: 40px !important;
  font-size: 24px !important;
  color: #4A5568 !important;
  padding: 10px !important;
}

/* hover effect */
.w-md-editor-toolbar button:hover {
  color: #9852e4 !important;
  background-color: #E9D4FF !important;
  border-radius: 6px;
}

/* Active/focused icon style */
.w-md-editor-toolbar button:focus {
  outline: none;
  color: #007A99 !important;
  background-color: #d0f4ff !important;
}
